body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.hero, .is-fullheight{
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("/images/hero1-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    /*#5e073285*/
    /*#0478e5*/
}
.navbar-menu{
    font-size: 1.5rem;
   

    
}
.navbar-item{
    color:rgba(255,255,255);
}
.title{
    font-family: 'Aguafina Script', cursive;
    color:rgba(255,255,255);
    font-size: 8rem;
    
/* for screens with a max widht of 720px */
@media(max-width:720px){


    .title{
        font-family: 'Aguafina Script', cursive;
        color:rgba(255,255,255);
        font-size: 4.5rem;
        
    }
}

.subtitle{
    color:rgba(255,255,255);
    font-size: 1.6rem;
    
    
}
.container{
    display:flex;
   flex-wrap: wrap;
    justify-content: flex-end;
    padding:4rem;
}
.img{
    width:10px;
}

