/* my first comment */

body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: yellowgreen;
 

}
img{
    border: 10px solid goldenrod;
}

h1{
    border: 5px dashed darkred;
}
blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    text-align:  center;
}
cite{
    font-size: 1rem;
}
.bigbold{
    font-weight: bold;
    font-size: 1.3rem;
}